#caja-h1{

	margin-top: 60px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px;
	display: inline-block;

}
#caja-texto{
	margin-top: 20px;
	background-color: white;
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px;
	display: inline-block;
}
body{
	color: black;
	font-family: 'Sanchez';
	font-size: 15px;
	line-height: 1.6em;
}
h1{
	font-family: 'Lobster';
	font-size: 2.8em;
	line-height: 1em;
}
h2{
	font-family: 'Lobster';
	font-size: 2.8em;
	line-height: 1em;

}
h3{
	font-family: 'Lobster';
	font-size: 2em;
	line-height: 1.2em;
	letter-spacing: 2px;
	padding-bottom: 10px;
	margin-top: 5px;
}
h4{
	font-family: 'Lobster';
	font-size: 1.4em;
	line-height: 1.2em;
	letter-spacing: 1px;
	padding-top: 10px;
	padding-bottom: 10px;

}
h1, h2, h3, article{
	background-color: white;
}
a{
	color: #ffc502;
}
a:hover{
	color: black;
}
a:active{
	color: black;
}
header { 
    background: url("../img/texturaroja.jpg"); 
    width: 100%;
    height: auto;
    background-repeat: repeat;
    position: fixed;
    z-index: 1000;

}
header .logo{
	padding-left: 20px;
}
header .menu{
	margin-top: 50px;
	margin-right: 10px;
	background-color: transparent;
	font-family: 'Sanchez';
	font-size: .85em;
	letter-spacing: 3px;
}
article{
	text-align: justify;
}

.row{
	padding-top: 20px;
}
.parallax-sec{
	padding-top: 130px;
}
.contenido-sec{
	padding-top: 10px;
	padding-bottom: 20px;
}
.contenido-sec .imagen-gal{
	padding-bottom: 20px;
}
.ubicacion-sec{
	padding-top: 150px;
}
footer {
 	background: url("../img/texturaamarilla.jpg"); 
 	padding-bottom: 10px;
}
footer .row{
	padding-top: 0;
}
footer article{
	background-color: transparent;
}
footer .logo-redes{
	width: 60px;
}

