#caja-h1{
	position: absolute;
	margin-top: 60px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px;
}
#caja-texto{
	position: absolute;
	margin-top: 160px;
	background-color: white;
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px;
}
body{
	color: black;
	font-family: 'Sanchez';
	font-size: 15px;
	line-height: 1.6em;
}
h1{
	font-family: 'Lobster';
	font-size: 2.8em;
	line-height: 1em;
}
h2{
	font-family: 'Lobster';
	font-size: 2.8em;
	line-height: 1em;
}
h3{
	font-family: 'Lobster';
	font-size: 2em;
	line-height: 1.2em;
	letter-spacing: 2px;
}
h4{
	font-family: 'Lobster';
	font-size: 1.4em;
	line-height: .8em;
	letter-spacing: 1px;
}
h1, h2, h3, article{
	background-color: white;
}
a{
	color: #ffc502;
}
a:hover{
	color: black;
}
a:active{
	color: black;
}
header { 
    background: url("../img/texturaroja.jpg"); 
    width: 100%;
    height: auto;
    background-repeat: repeat;
    position: fixed;
    z-index: 10;

}
header .logo{
	padding-left: 20px;
}
header .menu{
	margin-top: 50px;
	margin-right: 10px;
	background-color: transparent;
	font-family: 'Sanchez';
	font-size: .85em;
	letter-spacing: 3px;
}
footer {
 background: url("../img/texturaamarilla.jpg"); 
 height: 200px;
}
.tradicion-sec{
	padding-top: 60px;
	padding-bottom: 60px;
}
.parallax-sec{
	padding-top: 130px;
}
