#caja-h1{
	background-color: white;
}
#caja-texto{
	background-color: white;
}
body{
	color: black;
}
h1, h2, h3, article{
	background-color: white;
}
header { 
        background: url("../img/texturaroja.jpg"); 
        height:130px;
}
header .logo{
	width: 150px;
}
footer {
 background: url("../img/texturaamarilla.jpg"); 
 height: 200px;
}
.parallax-sec{
	height: 200px;
}